STATION=""

BSKY_HANDLE=""
BSKY_USERNAME=""
BSKY_PASSWORD=""

# URL to send a heartbeat ping to every time the bot is run
HB_PING=""

# URL to send a heartbeat ping to every time a song is posted
HB_POST=""
